.background_photo{
    width: 100%;
        height: 350px;
        @media (min-width: 768px){
            height: 500px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
.content{
    width: 100%;
    &_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        top: -75px;
        margin-bottom: -78px;
        background-color: $color_background1;
        @extend .link_formatting_removal;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        &_title-box{
            width: 88%;
            display: flex;
            justify-content: space-between;
            font-size: 1.7rem;
            margin: 30px 0% 30px 0%;
            @media (min-width: 768px){
                width: 95%;
            }
            &_title{
                font-family: $font_title;
            }
            .like_heart_solid {
                @include solid_heart($color_background1);
                @include parameters_heart(-2.5px)
            }
            
            .like_heart_regular{
                @include regular_heart();
                @include parameters_heart(33px);
            }

        }
        &_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            @media (min-width: 900px){
                flex-direction: row;
            }
            &_bloc{
                width: 100%;
                @media (min-width: 900px){
                    width: 33%;
                }
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                
                &_title{
                    margin-bottom: 30px;
                    margin-left: 18px;
                    font-size: 1rem;
                    text-transform: uppercase;
                    position: relative;
                    width: auto;
                    &::after{
                        content: "";
                        width: 40px;
                        height: 3px;
                        background-color: $color_tertiary;
                        position: absolute;
                        top: 25px;
                        left: 1px
                    }
                }
                
                &_groupe-vignettes{
                    .cascade_vignette{
                        @for $i from 1 through 10 {
                            &--#{$i} {
                                animation: cascade calc($cascade-anim-delay * $i + 700ms) forwards;
                            }
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    &_vignette{
                        border-radius: 20px;
                        @include default_shader();
                        overflow: hidden;
                        display: flex;
                        height: 100%;
                        width: 93%;
                        margin-bottom: 15px;
                        &_left{
                            padding: 14px 10px 14px 10px;
                            display: flex;
                            justify-content: space-between;
                            min-width: 100%;
                            animation: tiroir_reverse 700ms forwards;
                            &_textbox{
                                display: flex;
                                flex-direction: column;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                min-width: 80%;
                                &_title{
                                    font-size: 1.1rem;
                                    font-weight: bold;
                                    margin-bottom: 5px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                                &_description{
                                    font-size: 1rem;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }    
                            }
                            &_price{
                                padding: 0px 12px 0px 0px;
                                width: 20%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                align-items: flex-end;
                                font-size: 0.9rem;
                                font-weight: bold;
                            }
                        }
                        &_right{
                            display: flex;
                            &_check{
                                flex-direction: column;
                                justify-content: center;
                                font-size: 1.4rem;
                                padding-left: 25px;
                                padding-right: 25px;
                                background-color: $color_tertiary;
                                color: #ffffff;
                                display: flex;
                            }
                        }
                        &:hover{
                            .content_section_container_bloc_groupe-vignettes_vignette_left{
                                animation: tiroir 1s forwards;
                                
                            }
                            .content_section_container_bloc_groupe-vignettes_vignette_right_check{
                                i{
                                    animation: tiroir_rotate 1s forwards;
                                }
                                
                            }
                            @include darker_shader();
                            
                        }
                    }
                }
            }
        }
        .content_section_bouton{
            margin-top: 20px;
            margin-bottom: 80px;
            @include bouton (50%, 50px, 40px);
            @include default_shader(); 
            &:hover{
                @include darker_shader();
            }
        }
    }
}