$font_title: Shrikhand;
$font_text: Roboto;

$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;

$color_background1: #f6f6f6;
$color_background2: #ffffff;
$color_background3: #eaeaea;
$color_footer-background: #353535;

$icon_color_fonctionnement: #7e7e7e;
$icon_color_nouveau: #008766;

$location-anim-dur: 2s;

$load-anim-dur: 1s;
$load-anim-delay: $load-anim-dur / 8;


$loader-fontsize: 100vw / 8;

$cascade-anim-delay: 200ms;

$fonctionnement_breakpoint: 1010px;
$max_wrapper_width: 1300px;