$font_title: Shrikhand;
$font_text: Roboto;


$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;

$color_background1: #f6f6f6;
$color_background2: #ffffff;
$color_background3: #eaeaea;
$color_footer-background: #353535;

$icon_color_fonctionnement: #7e7e7e;
$icon_color_nouveau: #008766;


$anim-dur: 2s;
$anim-delay: $anim-dur / 3;


$load-anim-dur: 1s;
$load-anim-delay: $load-anim-dur / 8;

$loader-fontsize: 100vw / 8;

.front_loader{
    font-size: $loader-fontsize;
    font-family: $font_title;
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: absolute;
    background-color: white;
    // animation: loading_screen 4s;
    animation-fill-mode: forwards;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    &_letter{
        @for $i from 1 through 8 {
            &--#{$i} {
                animation: loading_screen_div $load-anim-dur backwards infinite;
                animation-delay: ($load-anim-delay * $i);
                animation-direction: normal;
            }
        }
    }
    
}
@keyframes loading_screen_div{
    0%{
        transform: scaleY(0.9);
        opacity: 80%;
    }
    3%{
        transform: scaleY(1.2);
        opacity: 100%;
    }
}
@keyframes loading_screen{
    95%{
        opacity: 100%;
        z-index: 1;
    }
    100%{
        z-index: -10;
        opacity: 0%;
    }
}

@keyframes anim_fonctionnement{
    25% {
        background-color: #f5edff;
        transform: scaleX(1.01);
    }
    75% {
        transform: scaleX(1);
    }

}

@keyframes anim_fonctionnement_i{
    25% {
        color: $color_primary;
    }
}

@keyframes location_anim{
    10% {
        transform: scaleY(0.6) translateY(5px);
    }
    40% {
        transform: translateY(-10px) rotateY(360deg);
    }
    70% {
        transform: translateY(1px);
    }
}

@function gradient-shift-light(){
    $color1: lighten($color-primary, 5%);
    $color2: lighten($color_secondary, 5%);
    @return linear-gradient($color2, $color1);
}

@function lightness-shift($color, $percent){
    @return lighten($color, $percent);
}

@mixin bouton ($bouton_width, $bouton_height, $bouton_radius){
    height: $bouton_height;
    width: $bouton_width;
    max-width: 50%;
    border-radius: $bouton_radius;
    background: linear-gradient($color_secondary, $color_primary);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 350ms;
    transition-property: all;
    &:hover{
        opacity: 85%;
    }
}

@mixin gradient_transition {
    background: linear-gradient($color_secondary, $color_primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin default_scale_transition{
    transform: scale(1.1);
}

@mixin default_transition_duration {
    transition-duration: 200ms;
}

@mixin default_hover_transition {
    transition-duration: 1s;
}

@mixin default_shader{
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.front-page_section-title_settings {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
}

.link_formatting_removal{
    a:link { text-decoration: none}
    a:visited { text-decoration: none}
    a:active { text-decoration: none}
}

:root
{
    font-family: $font_text, sans-serif;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

header
{
    background-color: $color_background2;
    .header{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 28px;
        padding-bottom: 16px;
        @extend .link_formatting_removal;
        img{
            height: 75%;
            position: relative;
            left: 15px;
            
        }
        i{
            color: black;
            font-size: 1.5rem;
            position: absolute;
            margin-top: 5px;
            left: 5%;
            @include default_transition_duration();
            &:hover{
                @include default_scale_transition();
            }
        }
    }

}

.banner
{
    background-color: $color_background1;
    &_bloc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // border-top: #353535 solid 2px;
        // @include default_shader();
        @extend .link_formatting_removal;
        &_mylocation{
            color: black;
            height: 66px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color_background3;
            // span{
            //     margin-left: 25px;
            // }
            i{
                position: relative;
                right: 25px;
            }
            &:hover{
                i{
                    animation: location_anim $anim-dur infinite;
                }
                span{
                    transform: scale(1.01);
                }
                background-color: lightness-shift($color_background3, 1%);
                    
            }
        }
        &_explore{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 55px;
            padding-bottom: 75px;
            width: 100%;
            @extend .link_formatting_removal;
            &_title{
                width: 70%;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }
            &_text{
                width: 100%;
                font-size: 1.18rem;
                margin-top: 18px;
                text-align: center;
            }
            &_bouton{
                margin-top: 40px;
                @include bouton (60%, 68px, 40px);
                @include default_shader();
            }
        }
    }
}

.fonctionnement{
    $color_background2: #ffffff;
    // z-index: 500;
    &_bloc{
        padding-top: 65px;
        padding-bottom: 90px;
        &_title{
        @extend .front-page_section-title_settings;
        padding-bottom: 38px;
        }
        &_list{
            height: 360px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
            // .fonctionnement_animation{
            //     @for $i from 1 through 3 {
            //         &--#{$i} {
            //             animation-delay: ($anim-delay * $i);
            //             .animation_i{
            //                 &--#{$i} {
            //                     animation: anim_fonctionnement_i $anim-dur infinite;
            //                     animation-delay: ($anim-delay * $i);
                                
            //                 }
            //             }
            //         }
                    
            //     }
            // }
            li{
                // QUESTION: comment coder les elements du li pour que ca soit jolie en desktop?
                list-style-type: none;
                text-decoration: none;
                width: 90%;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-left: 10%;
                margin-right: 10%;
                height: 100px;
                background-color: $color_background1;
                border-radius: 25px;
                @include default_shader();
                position: relative;
                left: 10px;
                *{
                    margin-right: 30px;
                    position: relative;
                    left: -15px;
                    bottom: -5px;
                }
            div{
                background-color: $color_primary;
                color: white;
                width: 35px;
                height: 35px;
                border-radius: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i{
                color: $icon_color_fonctionnement;
                font-size: 1.4rem;
                width: 25px;
            }
            span{
                font-weight:600;
            }
            // @include default_transition_duration;
            // animation: anim_fonctionnement $anim-dur infinite;
            
            // &:hover{
            //     background-color: lightness-shift($color-primary, 35%);
            //     i{
            //         color: $color_primary;
            //     }
            // }
        }
    }
    }

}

.restaurants{
    background-color: $color_background1;
    &_bloc{
        padding-bottom: 65px;
        &_title{
            padding-top: 73px;
            padding-bottom: 30px;
            @extend .front-page_section-title_settings;
        }
        @extend .link_formatting_removal;
        &_bloc-vignettes{
            display: flex;
            flex-direction: column;
            align-items: center;
            .vignette{
                &_nouveau{
                    margin-top: 3%;
                    width: 100px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: lightness-shift($icon_color_nouveau, 55%);
                    color: $icon_color_nouveau;
                    right: 8%;
                    font-size: 0.9rem;
                    border-radius: 2px;
                }
                width: 90%;
                height: 337px;
                background-color: $color_background2;
                margin-bottom: 20px;
                border-radius: 20px;
                @include default_shader();
                overflow: hidden;
                &_photo{
                    width: 100%;
                    height: 69%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &_box{
                    width: 100%;
                    height: 31%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    .vignette_text{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &_title{
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: black;
                            padding-bottom: 5px;
                        }
                        &_location{
                            color: black;
                            font-size: 1.1rem;
                            font-weight: lighter;
                        }

                    }
                    .fa-heart{
                        font-size: 1.8rem;
                        color: black;
                        width: auto;
                        height: auto;
                        // @include default_transition_duration;
                        transition-duration: 400ms;
                        &:hover{
                            // @include gradient_transition();
                            // @include default_scale_transition();
                        }
                        
                    }
                    .fa-solid{
                        // display: none;
                        position: relative;
                        left: -33px;
                        // opacity: 0%;
                        @include gradient_transition();
                        // &:hover{
                            
                        //     opacity: 100%;
                        //     transform: scale(1.1);
                        // }
                        z-index: 1;
                        &::after{
                            content: "";
                            position: absolute;
                            height: 25px;
                            width: 35px;
                            right: -5px;
                            top: 2px;
                            background: white;
                            // background: green;
                        }
                        // &:hover{
                        //     &::after{
                        //         animation: heart_fill_spin 1s ease-in-out forwards;
                        //     }
                        // }
                    }

                    .fa-regular{
                        // display: none;
                        position: relative;
                        opacity: 100%;
                        z-index: 8;
                        &:hover{
                            animation: heart_regular_fade 150ms ease-in-out forwards;
                        }
                        &:hover ~ .fa-solid::after{
                            animation: heart_magic_filter 300ms ease-in-out forwards;
                        }
                        &:hover ~ .fa-solid{
                            animation: heart_pump 300ms ease-in-out forwards;
                        }
                    }
                }
            }
        }
    }
}

@keyframes heart_magic_filter {
    0%{
        transform: translateY(0);
        scale: 2;
    }                        
    100%{
        transform: translateY(-100%);
        scale: 1;
    }
}

@keyframes heart_regular_fade {
    0%{
        opacity: 100%;
    }     
    30%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@-webkit-keyframes heart_pump {
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.footer{
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: $color_footer-background;
    
    &_title{
        padding-top: 27px;
        padding-bottom: 26px;
        font-family: $font_title;
        color: white;
        font-size: 1.25rem;
    }
    ul{
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        li{
            @extend .link_formatting_removal;
            a{
                color: white;
            }
            padding-bottom: 10px;
            i{
                width: 15px;
                margin-right: 15px;
            }

            

        }
    }
}


.content{
    width: 100%;
    &_photo{
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        top: -75px;
        margin-bottom: -78px;
        background-color: $color_background1;
        @extend .link_formatting_removal;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        &_title-box{
            width: 88%;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            margin: 40px 5% 40px 5%;
            &_title{
                font-family: $font_title;
            }
            i{
                transition-duration: 200ms;
                &:hover{
                    @include gradient_transition();
                    @include default_scale_transition();
                }
                
            }
        }
        &_bloc{
            width: 100%;
            padding-bottom: 20px;
            background-color: #008766;
            display: flex;
            flex-direction: column;
            &_title{
                margin-bottom: 30px;
                margin-left: 30px;
            }
            &_groupe-vignettes{
                background-color: red;
                display: flex;
                flex-direction: column;
                align-items: center;
                &_vignette{
                    // background-color: $color_background2;
                    background-color: blue;
                    border-radius: 20px;
                    @include default_shader();
                    // margin: 20px 20px 20px 20px;
                    overflow: hidden;
                    display: flex;
                    // justify-content: space-between;
                    height: 100%;
                    width: 50%;
                    animation: cascade 2s forwards;
                    &_left{
                        padding: 14px 14px 14px 14px;
                        display: flex;
                        background-color: gold;
                        justify-content: space-between;
                        width: 100%;
                        animation: tiroir_reverse 1s forwards;
                        &_textbox{
                            display: flex;
                            flex-direction: column;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            background-color: greenyellow;
                            width: 100%;
                            &_title{
                                font-size: 1.1rem;
                                font-weight: bold;
                                margin-bottom: 5px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            &_description{
                                font-size: 1rem;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }    
                        }
                        &_price{
                            padding: 14px 14px 14px 14px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            font-size: 0.9rem;
                            font-weight: bold;
                            background-color: yellow;
                        }
                    }
                    &_right{
                        display: flex;
                        &_check{
                            flex-direction: column;
                            justify-content: center;
                            font-size: 1.4rem;
                            padding-left: 25px;
                            padding-right: 25px;
                            background-color: $color_tertiary;
                            color: #ffffff;
                            display: flex;
                        }
                    }
                    &:hover{
                        .content_section_bloc_groupe-vignettes_vignette_left{
                            animation: tiroir 1s forwards;
                            
                        }
                        .content_section_bloc_groupe-vignettes_vignette_right_check{
                            i{
                                animation: tiroir_rotate 1s forwards;
                            }
                            
                        }
                        
                    }
                }
            }
        }
        &_bouton{
            margin-top: 20px;
            margin-bottom: 105px;
            @include bouton (50%, 60px, 40px);
            @include default_shader(); 
        }
    }
}

@keyframes tiroir {
    0%{
        width: 100%;
    }
    100%{
        width:  calc(100% - 72px);
    }
}

@keyframes tiroir_reverse {
    from {width: calc(100% - 72px);} to {width: 100%;}
    
}

@keyframes cascade {
    0%{
        transform: translateY(15px);
        opacity: 0%;
    }
    50%{
        transform: translateY(15px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes tiroir_rotate {
    0%{
        transform: rotate(-270deg);
    }
}

@keyframes selection_plat_animation {
    // 0%{
    //     transform: translateX(75px);
    // }
    // 100%{
    //     transform: translateX(0);
    // }
    from {transform: translateX(75px);} to {transform: translateX(0);}
}

@keyframes selection_plat_price_animation{
    0%{
        transform: translateX(75px);
    }
}


@keyframes selection_plat_cropper_animation {
    0%{
        margin-right: -75px;
    }
}
