
@import "./variables";
@import "./keyframes";
@import "./functions";
@import "./mixins";
@import "./menu";


.front_loader{
    font-size: $loader-fontsize;
    font-family: $font_title;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    position: fixed;
    background-color: white;
    animation: loading_screen 2s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    &_letter{
        @for $i from 1 through 8 {
            &--#{$i} {
                animation: loading_screen_div $load-anim-dur backwards infinite;
                animation-delay: ($load-anim-delay * $i);
                animation-direction: normal;
            }
        }
    }
    
}


.front-page_section-title_settings {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
}

.link_formatting_removal{
    a:link { text-decoration: none}
    a:visited { text-decoration: none}
    a:active { text-decoration: none}
}

:root
{
    font-family: $font_text, sans-serif;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px){
        max-width: $max_wrapper_width;
        padding-left: 10px;
        padding-right: 10px;
    }
}

header
{
    display: flex;
    justify-content: center;
    background-color: $color_background2;
    .header{
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 23px;
        padding-bottom: 12px;
        position: relative;
        @extend .link_formatting_removal;
        .ohmyfood_home{
            display: flex;
            justify-content: center;
            img{
                height: 75%;
                position: relative;
                @media (min-width: $fonctionnement_breakpoint){
                    height: 100%;
                }          
            }
        }
        i{
            color: black;
            font-size: 1.5rem;
            position: absolute;
            margin-top: 5px;
            left: 5%;
            @include default_transition_duration();
            &:hover{
                @include default_scale_transition();
            }
        }
    }
}

.banner
{
    &_bloc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        @extend .link_formatting_removal;
        &_mylocation{
            width: 100%;
            height: 50px;
            background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(234,234,234,1) 7%);
            display: flex;
            justify-content: center;
            &_box{
                color: black;
                height: 100%;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .fa-location-dot{
                    position: absolute;
                    left: 25px;
                    &:hover{
                        animation: location_anim $location-anim-dur infinite;
                    }
                }
                .input_box{
                    height: 100%;
                    width: 150px;
                    margin-left: 50px;
                    input{
                        background: none;
                        height: 100%;
                        width: 100%;
                        outline: none; 
                        border: 0;
                        font-family: $font_text;
                        font-size: 1.1rem;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
        &_explore{
            background-color: $color_background1;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 44px;
            padding-bottom: 58px;
            width: 100%;
            @extend .link_formatting_removal;
            &_title{
                width: 70%;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }
            &_text{
                width: 100%;
                font-size: 1.18rem;
                margin-top: 18px;
                text-align: center;
            }
            &_bouton{
                margin-top: 40px;
                @include bouton (60%, 50px, 50px);
                @include default_shader();
                &:hover{
                    @include darker_shader();
                }
            }
        }
    }
}

.fonctionnement{
    &_bloc{
        padding-top: 55px;
        padding-bottom: 65px;
        &_title{
        @extend .front-page_section-title_settings;
        padding-bottom: 34px;
        }
        &_list{
            height: 270px;
            @media (min-width: $fonctionnement_breakpoint){
                height: 100px;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 100%;
            @media (min-width: $fonctionnement_breakpoint){
                flex-direction: row;
                justify-content: center;
            }
            li{
                @media (min-width: $fonctionnement_breakpoint){
                    width: 29%;
                    margin-left: 2%;
                    margin-right: 2%;
                }
                list-style-type: none;
                text-decoration: none;
                width: 87%;
                margin-left: 8%;
                margin-right: 5%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: 75px;
                background-color: $color_background1;
                border-radius: 25px;
                @include default_shader();
                *{
                    margin-right: 23px;
                    position: relative;
                    left: -12px;
                    bottom: -3px;
                }
                .li_number{
                    background-color: $color_primary;
                    color: white;
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                i{
                    color: $icon_color_fonctionnement;
                    font-size: 1.2rem;
                }
                span{
                    font-weight:600;
                }
                transition-duration: 230ms;
                &:hover{
                    background-color: lightness-shift($color-primary, 35%);
                    i{
                        color: $color_primary;
                    }
                    @include darker_shader();
                }
            }
        }
    }
}

.restaurants{
    &_bloc{
        background-color: $color_background1;
        @media (min-width: $max_wrapper_width){
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;    
        }
        padding-bottom: 50px;
        &_title{
            padding-top: 50px;
            padding-bottom: 25px;
            @extend .front-page_section-title_settings;
        }
        @extend .link_formatting_removal;
        &_bloc-vignettes{
            @media (min-width: 581px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            .vignette{
                &:hover{
                    @include darker_shader();
                }
                position: relative;
                .nouveau_on{
                    display: flex;
                }
                .nouveau_off{
                    display: none;
                }
                &_nouveau{
                    margin-top: 3%;
                    width: 80px;
                    height: 30px;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: lightness-shift($icon_color_nouveau, 55%);
                    color: $icon_color_nouveau;
                    right: 5%;
                    font-size: 0.9rem;
                    border-radius: 2px;
                }
                @media (min-width: 768px) {
                width: 45%;
                }
                width: 90%;
                height: 250px;
                background-color: $color_background2;
                margin-bottom: 20px;
                border-radius: 20px;
                @include default_shader();
                overflow: hidden;
                &_photo{
                    width: 100%;
                    height: 69%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &_box{
                    width: 100%;
                    height: 31%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    .vignette_text{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &_title{
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: black;
                            padding-bottom: 5px;
                        }
                        &_location{
                            color: black;
                            font-size: 1.1rem;
                            font-weight: lighter;
                        }

                    }
                    .like_heart_solid {
                        @include solid_heart($color_background2);
                        @include parameters_heart(0px)
                    }
                    
                    .like_heart_regular{
                        @include regular_heart();
                        @include parameters_heart(33px);
                    }
                }
            }
        }
    }
}


footer{
    background-color: $color_footer-background;
    .footer_content{
        margin-top: 3px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        
        &_title{
            padding-top: 27px;
            padding-bottom: 26px;
            font-family: $font_title;
            color: white;
            font-size: 1.25rem;
        }
        ul{
            list-style-type: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 150px;
            @media (min-width: 768px) {
                height: 40px;
            }
            li{
                @extend .link_formatting_removal;
                a{
                    color: white;
                }
                padding-bottom: 15px;
                i{
                    width: 15px;
                    margin-right: 15px;
                }
            }
        }
    }
}






